.title1{
  display: inline-block;
}
button{
  font-size: 20px;
  color: #e48f26;
  background-color: #ffe245;
}
input{
  position: relative;
  top: 5px;
  width: 400px;
  line-height: 26px;
}
tr,td{
  font-weight:bold;
  color:#ff9955;
  padding-left: 30px;
  font-size: 30px;
  line-height: 40px;
  vertical-align: top;
  font-align:center;
}
#text{
  vertical-align: top;
  font-align:center;
}
#demotable{
  position: relative;
  top:25px;
}
a {
  text-decoration: none;
  color: #ff9955;
}
#oitemList{
  position: relative;
  left:700px;
  top: -50px;
}
#timebutton{
  width: 40px;
  height: 20px;
  color: #ff7e1f;
  margin-top: 20px;
  font-size: 10px;
  margin-bottom: 10px;
}
