#title{
  color: #ff8828;
  font-size: 40px;
}
#photo{
  position: relative;
  left: 5%;
  float: left;
}
#more_msg{
  display: block;
  float: left;
  position: relative;
  left:20%;
  font-size:20px;
}
.debutton{
  width: 70px;
  height: 40px;
  font-size: 20px;
  position: relative;
  top: 40px;
}
